<ion-view view-title="Tickets for Me!" name="home">
    <ion-nav-buttons>
        <button ui-sref="help" class="button button-assertive button-icon ion-ios-help" >Get Help</button>
    </ion-nav-buttons>
<ion-list class="card gallery half item" style="min-height:500px" ng-controller="TicketCtrl">
                <ion-item ng-repeat="ticket in tickets" class="list card">
                        <div class="item item-divider">
                            <h2>{{ticket.title}}</h2>
                        </div>
                        <div class="item item-body" ng-bind-html="ticket.snippet">
                            
                        </div>
                        <div ng-repeat="label in ticket.labels">
                            <i class="fa {{label.icon}} text-{{label.colour}}" />
                            <span>{{label.label}}</span>
                        </div>
                        <div class="item item-divider">
                            Footer
                        </div>
                </ion-item>
</ion-list>
</ion-view>
